# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build
/build
/app/build
/captures

# NDK / C++
.externalNativeBuild
.cxx

# Misc
*.log
*.keystore
